@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --box-shadow: 0 1px 3px rgba(0, 0 , 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    margin: 30px auto;
    width: 350px;
  }
  
  h1 {
      margin: 0;
  }

  h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
  }
  
  h4 {
    margin: 0;
    text-transform: uppercase;
  }
  
  .in-exp-con {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .in-exp-con > div {
    flex: 1;
    text-align: center;
  }

  .in-exp-con > div:first-of-type {
    border-right: 1px solid #dedede;
  }
  
  .money {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
  }
  
  .mon-pl {
    color: #2ecc71;
  }
  
  .mon-min {
    color: #c0392b;
  }